html {
  height: 100vh;
  width: 100vw;
  background: #faa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}